body {
  font-family: 'Courier New', Courier, monospace;
  background: url("../img/houses.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 80px;
  font-weight: bolder;
  color: maroon;
  margin-top: 30px;
  text-align: left;
}

#cloud {
  margin-top: 50px;
}

#userInput {
  margin-top: 50px;
  font-weight: bolder;
  color: black;
  font-size: 25px;
}

#gif {
  float: left;
  margin-top: 50px;
}

.showLater {
  display: none;
  background: url("../img/background.jpg");
  margin-top: 20px;
  padding: 20px;
  color: slategray;
  font-size: 20px;
  font-weight: bold;
}

#showName {
  display: none;
  font-weight: bolder;
  color: black;
  font-size: 20px;
}

.hideLater {
  font-weight: bolder;
  color: black;
  font-size: 20px;
}