body {
  font-family: 'Courier New', Courier, monospace;
  background: url("../img/houses.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 80px;
  font-weight: bold;
  color: maroon;
  margin-top: 30px;
  text-align: left;
}

#cloud {
  margin-top: 50px;
}
#userInput {
  margin-top: 80px;
}

